body{
	margin: 0;
	padding: 0;
	
}
.caja{
	height: 200px;
	width: 200px;
	position: absolute;


}
.rosada{
	background-color: #ee3e64;
	left: 0;
	top: 0;
}
.celeste{
	background-color: #44accf;
	right: 0;
	top: 0;
}
.verde{
	background-color: #b7d84b;
	left: 0;
	bottom: 0;
}
.amarilla{
	background-color: yellow;
	right: 0;
	bottom: 0;
}