body{
	margin: 0;
	padding: 0;
	
}
.caja{
	height: 200px;
	width: 200px;
	position: relative;


}
.rosada{
	background-color: #ee3e64;
}
.celeste{
	background-color: #44accf;
	left: 200px;
}
.verde{
	background-color: #b7d84b;
}